/* 등록 페이지의 일반 컨테이너 */
.product-registration-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* 페이지 제목 */
h1 {
  text-align: center;
  color: #333;
}

/* 폼 컨테이너 */
.product-form {
  background-color: #d5e4fb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 각 폼 항목(라벨 + 입력)의 스타일 */
.form-item {
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-item label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-item input,
.form-item select {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-item input[type="number"] {
  width: 95%;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  color: black;
  background-color: #5f9dfb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #003d98;
  color:white;
}
